# Database (Pooler - for runtime)
DATABASE_URL="postgresql://user:password@pooler.host:6543/database"

# Database (Direct - for migrations)
DIRECT_URL="postgresql://user:password@db.host:5432/database"

# NextAuth
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# OAuth Providers
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
